/* Animacion del Atomo*/
.atom {
    position: relative;
    height: 150px;
    margin-left: 50%;
    margin-bottom: 50%;
    margin-right: 50%;
}
.orbital {
    transform: rotate(-55deg) scale(1, 1) skew(12deg, 40deg) translate(0, 0);
    position:absolute;
    width: 70px;
    height:70px;
    top:50%;
    left:50%;
    margin-top: -35px;
    margin-left:-35px;
    border-radius: 50%;
    border: 2px solid white;
}
.orbital.e3 {
    transform: rotate(70deg) scale(1, 1) skew(12deg, 40deg) translate(0, 0);
}
.orbital.e2 {
    transform: rotate(0deg) scale(1, 1) skew(12deg, 40deg) translate(0, 0);
}
.ruta {
    width: 70px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
}
.electron {
    background-color: #00C4C9;
    border-radius: 50%;
    width:9px;
    height:9px;
    margin-left:-6px;
}
.proton, .neutron {
    border-radius: 50%;
    position:absolute;
    width:8px;
    height:8px;
}
.proton {
    background-color: #2DCC70;
}
.neutron {
    background-color: #FE5D55;
}
.proton.p1 {
    left:50%;
    margin-left:-4px;
    margin-top: -8px;
    top:50%;
    z-index:2;
}
.proton.p2 {
    left:50%;
    margin-left:-4px;
    top:50%;
}
.neutron.n1 {
    left:50%;
    margin-left:-8px;
    margin-top: -4px;
    top:50%;
}
.neutron.n2 {
    left:50%;
    margin-top: -4px;
    top:50%;
}
.ruta {
    animation: spin 2.5s infinite linear;
}
.orbital.e2 .ruta {
    animation: spin 2.5s infinite -1.25s linear;
}
.orbital.e3 .ruta {
    animation: spin 2.5s infinite 0s linear;
}

/*-- Animación electron --*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
